

			html {
				background-color: #666;
			}



			body {
				width: 900px;
				margin-right: auto;
				margin-left: auto;
				background-color: #f0e80d;
				text-align: center;

			}



            h1 {
				font-size: 50px;
				color: #FFFFFF;
                background-color: #000;
                padding : 50px;
                font-family: 'Exo', sans-serif;
      
			}

			p {
				background-color: #000;
                font-family: 'Special Elite', cursive;  
                font-size: 20px;
                line-height: : 30px;
				color: #FFFFFF;
                padding: 50px;    
			}

            img {
                border: 5px solid #ce1010;
                margin : 50px;
            }
            





			


